---
title: Home
layout: default
---
<section class="jumbotron text-center" id="hero">
  <div class="container">
    <h1 class="jumbotron-heading">Edward Burden</h1>
    <h2 class="jumbotron-heading">Game Developer</h1>
      <p class="lead text-muted">Here's some of the things I like to work on in my spare time</p>
  </div>
</section id="update-list">

<div class="container">
  <div class="row">

    <div id="updates-list" class="col-sm-12 col-md-12 col-lg-12 ">
      <h3>Recent Updates</h3>
      <a href="/updates/">View All here</a>
      <div class="row">
        {%assign sortedPosts = site.posts | sort: "date" | reverse %}
        {% for post in sortedPosts limit : 3%}
        <div class="col-sm-4  d-flex align-items-stretch">
          {% include updatesCard.html content = post%}
        </div>
        {%endfor%}
      </div>
    </div>

    <div id="projects-list" class="col-sm-12 col-md-12 col-lg-12">
      <h3>Recent Projects</h3>
      <a href="/projects/">View All here</a>
      <div class="row">
        {%assign sortedProjects = site.projects | sort:"priority" %}
        {% for project in sortedProjects limit : 4 %}
        <div class="col-sm-6  d-flex align-items-stretch">
          {% include projectsCard.html content= project%}
        </div>
        {%endfor%}
      </div>
    </div>

  </div>
</div>