---
title: Home
layout: default
---
<section class="jumbotron text-center" id="hero">
  <div class="container">
    <h1 class="jumbotron-heading">Edward Burden</h1>
    <h2 class="jumbotron-heading">Game Developer</h1>
      <p class="lead text-muted">Here's some of things I like to work on in my spare time, some of them are
        incomplete, some messy, but they were all fun to work on.</p>
  </div>
</section id="update-list">

<div class="container">
  <div class="row">

    <div id="updates-list" class="col-sm-12 col-md-12 col-lg-6">
      <h3>Featured Updates</h3>
      <a href="/updates/" style="color:red;">View All here</a>
      <div class="row">
        {%assign sortedPosts = site.posts | sort: "date" | reverse %}
        {% for post in sortedPosts limit : 6%}
        <div class="col-sm-12">
          {% include updatesCard.html content = post%}
        </div>
        {%endfor%}
      </div>
    </div>

    <div id="projects-list" class="col-sm-12 col-md-12 col-lg-6">
      <h3>Featured Projects</h3>
      <a href="/projects/" style="color:red;">View All here</a>
      <div class="row">
        {%assign sortedProjects = site.projects | sort:"priority" %}
        {% for project in sortedProjects limit : 3 %}
        <div class="col-sm-12">
          {% include projectsCard.html content= project%}
        </div>
        {%endfor%}
      </div>
    </div>

  </div>
</div>