<div class="card mb-3 box-shadow w-100">
    <a href="{{ include.content.url }}">
        <img class="card-img" src="../assets/images/{{include.content.thumbnail}}" alt="Card image cap">
    </a>

    <div class="card-body">
        <h5 class="card-title">{{include.content.title}}</h5>
        <p class="card-text"> {{include.content.excerpt }}</p>

        {% if include.content.github %}
        <a class="card-link" href="{{ include.content.github }}" title="GitHub" aria-label="GitHub">
            <i class="fab fa-github fa-lg"></i>
        </a>
        {% endif %}
        {% if include.content.youtube %}
        <a class="card-link" href="{{ include.content.youtube }}" title="YouTube" aria-label="YouTube">
            <i class="fab fa-youtube fa-lg"></i>
        </a>
        {% endif %}
    </div>
    <div class="card-footer">
        <small class="text-muted">Posted {{ include.content.date | date: '%d %B, %Y' }}</small>
    </div>
</div>