body {
  background-color: $alabaster;
  margin-top: 250px;
  @media only screen  and (min-width: 768px) {
    margin-top: 0px;
    margin-left: 160px; /* Same as the width of the sidenav */
  }
}

.home-card {
  background-color: rgb(145, 146, 151);
  width: 300px;
  max-height: 300px;
  min-height: 200px;
  float: left;
  border: 1px black solid;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

.home-card-header {
  background-color: white;
  width: 100%;
}
