body {
  background-color: $alabaster;
  margin: 0px;
  @media only screen and (min-width: 768px) {
    margin-top: 0px;
    margin-left: 160px; /* Same as the width of the sidenav */
  }
}

.main {
}

#breadcrumbs {
  height: 20px;
  background-color: $alabaster-light;
}
.splash {
  
  height: 100vh;
  background-image: linear-gradient(rgba($industrial-one, 0.7), rgba($industrial-two, 0.3)), url("../images/back.jpg"); //todo add mobile version
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top, center;
  
}


.home-card {
  background-color: $alabaster;
  width: 300px;
  max-height: 300px;
  min-height: 200px;
  float: left;
  border: 1px black solid;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

.home-card-header {
  background-color: white;
  width: 100%;
}
