.project-cards-container {
    list-style-type: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    padding: 0px;
    max-width: 1600px;
    @media only screen and (min-width: 770px) {
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.project-card {
    width: auto;
    height: 200px;
    text-decoration: none;
    margin: 8px;
    position: relative;
    box-shadow: 10px 10px 5px #b7a097;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    @media only screen and (min-width: 770px) {
        height: 200px;
        width: 300px;
    }
    @media only screen and (min-width: 1200px) {
        height: 300px;
        width: 500px;
    }
}
.project-card-title-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: rgba(0.5, 0.5, 0.5, 0.5);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.project-card-title-container {
    h3,
    a {
        color: white;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: auto;
    }
}

@media only screen and (min-width: 770px) {
    .project-card:hover {
        .project-card-icons-container {
            display: grid;
            height: 40px;
        }
    }
}

.project-card-icons-container {
    bottom: 0;
    position: absolute;
    height: 40px;
    @media only screen and (min-width: 770px) {
        display: none;
        height: 0px;
    }
    padding-left: 20%;
    padding-right: 20%;
    left: 0;
    right: 0;
    width: auto;
    background: rgba(0.5, 0.5, 0.5, 0.5);
    transition: display 0.05s, height 0.1s linear;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .mini {
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 0px;
        text-decoration: none;
        width: auto;
    }
}

.project-card-image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;

    a {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            transition: min-width 0.1s linear;
            min-width: 100%;
            width: auto;
        }
        &:hover img {
            min-width: 105%;

        }
    }
}
