.updates-card {
    list-style-type: none;
    display: block;
    max-width: 500px;
    margin: 16px 8px 16px 8px;
    overflow: hidden;
    background-color: $industrial-three;
    a {
        color: white;
        text-decoration: none;
    }
}
.updates-card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.updates-card-text-holder {
    margin: 0px 10px 0px 0px;
}
.updates-card-header {
}
.updates-card-excerpt {
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding: 0px;
    margin: 0px;
}

.updates-card-image {
    width: 80px;
    height: 80px;
}

.updates-card-links-holder {
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    padding-left: calc(100% - 80px);

    align-items: center;
}
